@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.WhatHappensNextTraineeshipViewModel
@{
    ViewBag.Title = "Traineeship application submitted - Find a traineeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight sfa-govuk-box-highlight">
            <h1 class="bold-large">Traineeship application submitted</h1>
            <p>
                You've applied for:
                <br />
                <strong class="heading-medium">@Html.DisplayFor(m => m.VacancyTitle) - @Html.DisplayFor(m => m.VacancyReference)</strong>
            </p>
        </div>

        <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>

        <h2 class="heading-medium">What happens next</h2>
        <p>You’ll be contacted if you’re eligible for a traineeship. You can see the applications you've made by visiting <a href="@Url.RouteUrl(CandidateRouteNames.MyApplications)">my applications</a>.</p>
        
        <h3 class="heading-medium">Training provider</h3>
        <p>@Model.ProviderContactInfo</p>

        <div class="inline sfa-xlarge-top-margin">
            <a role="button" class="button" href='@Url.RouteUrl(CandidateRouteNames.TraineeshipSearch)'>Find a traineeship</a>

            @if (ViewBag.SearchReturnUrl != null)
            {

                <a href="@ViewBag.SearchReturnUrl" class="button sfa-button-secondary" title="Return to search results" id="lnk-return-search-results">Return to search results</a>
            }
        </div>

        <hr />

        <p>
            <a href="@ViewBag.FeedbackUrl"  >What did you think of this service?</a>
            <br>(30 second survey, this will open in a new tab)
        </p>

    </div>
</div>