@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.ApplicationViewModel

@if (Model != null && (!string.IsNullOrWhiteSpace(Model.Vacancy.FirstQuestion) || !string.IsNullOrWhiteSpace(Model.Vacancy.SecondQuestion)))
{
    @if (!string.IsNullOrWhiteSpace(Model.Vacancy.FirstQuestion))
    {
        <h3 class="heading-small @Model.Vacancy.FirstQuestion.GetPreserveFormattingCssClass()">@(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.Vacancy.FirstQuestion))</h3>
        <p>@Html.Raw(Model.VacancyQuestionAnswers.FirstQuestionAnswer ?? "-")</p>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Vacancy.SecondQuestion))
    {
        <h3 class="heading-small @Model.Vacancy.SecondQuestion.GetPreserveFormattingCssClass()">@(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.Vacancy.SecondQuestion))</h3>
        <p>@Html.Raw(Model.VacancyQuestionAnswers.SecondQuestionAnswer ?? "-")</p>
    }
}
