@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application
@model IEnumerable<WorkExperienceViewModel>

    <h2 class="heading-large">Work experience</h2>

    @if (!Model.Any())
    {
        <p id="no-work-experience">Applicant doesn't have any work experience</p>
    }

    @foreach (WorkExperienceViewModel experience in Model)
    {
    <div class="work-history-item">
        <table>
            <colgroup>
                <col/>
                <col/>
                <col class="sfa-align-top"/>
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <h3 class="heading-small">Work experience</h3>
                    </th>
                    <th>
                        <h3 class="heading-small">From</h3>
                    </th>
                    <th>
                        <h3 class="heading-small">To</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="bold-small">@experience.Employer</span>
                        <br/>
                        <span class="secondary-text">@experience.JobTitle</span>
                        <br/>
                        <br/>
                        @experience.Description
                    </td>
                    <td class="sfa-align-top">
                        @experience.FromDate.GetMonthYearLabel()
                    </td>
                    <td class="sfa-align-top">
                        @experience.ToDate.GetMonthYearLabel()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
<hr/>